* {
    box-sizing: border-box;
    
}


body {
    background-image: url("bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-color: hsl(0, 100%, 74%) ;
    font-family: 'Poppins', sans-serif;
}
.introduce {
    width: 35%;
   margin: auto;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #ffffff;
    line-height: 1.2;
}
p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.5;
}
.form {
    width: 40%;
    margin: auto;
}
.form-header {
    margin-top: 10px;
    border: none;
    padding: 2% 15%;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px hsl(246, 25%, 77%);
    background-color: hsl(248, 32%, 49%);
}
.form-header a {
    color: #ffffff;
    text-decoration: none;
}
.form-header span {
    font-size: 10px;
    color: #ffffff;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-evenly;
}
form {
    background-color: white;
    padding: 7% 8%;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
.form-group input {
    width: -webkit-fill-available;
    height: 30px;
    padding: 4% 3%;
    border-radius: 5px;
    border: solid 1px hsl(246, 25%, 77%);
    outline: none;
    transition: 0.3s ease-in-out;
}
input:hover {
    background-color: whitesmoke;
    
}
input:active {
    transform: translateX(4px);
}
.btn-1 {
    width: -webkit-fill-available;
    height: 45px;
    background-color: hsl(154, 59%, 51%);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 0px 0px hsl(246, 25%, 77%);
    cursor: pointer;
}
.btn-1:hover {background-color: #3e8e41}

.btn-1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.footer span {
    font-size: 13px;
    color: hsl(246, 25%, 77%);
}
.footer a {
    color: hsl(0, 100%, 74%) ;
    font-size: 13px;
    text-decoration: none;
}
.form-group{
    position: relative;
}
.error {
    position: absolute;
    top: 6px;
    right: 15px;
}
.form-group small {
    position: absolute;
    top: 36px;
    right: 0px;
    visibility: visible;
    font-size: 11px;   
}
#error1, 
#error2, 
#error3, 
#error4 {
    visibility: hidden;
}
#small-1,
#small-2,
#small-3,
#small-4 {
    visibility: hidden;
    color: hsl(0, 100%, 74%);
}
.attribution {
     font-size: 14px; 
     text-align: center; 
     margin: 20px;
    }
.attribution a { color: hsl(0, 0%, 100%); }

@media only screen and (max-width: 900px) {
    .container {
        display: block;
    }
    .introduce {
        width: 100%;
        margin-bottom: 80px;
    }
    h1 {
        font-size: 30px;
        text-align: center;
    }
    p {
        text-align: center;
        font-size: 15px;
    }
    .form {
        width: 90%;
    }
    .form-header a {
        font-size: 20px;
    }
    .form-header span {
        font-size: 20px;
    }
    .form-header {
        text-align: center;
    }
    .footer {
        text-align: center;
    }
}